<ng-template #jitaPrices let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Jita Prices</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
        
    </div>
    
    <div class="modal-body">
        Displays the latest jita prices. Those prices are updated every 4 hours. <br>    
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Price</th>
                    <th scope="col">Last Update</th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let ore of moonOre$ | async">
                    <tr>
                        <td>
                            {{ ore.id }}
                        </td>
                        <td>
                            {{ ore.name }}
                        </td>
                        <td>
                            {{ ore.price | number}} ISK
                        </td>
                        <td>
                            {{ ore.date | date: 'dd-MM-yyyy HH:mm:ss'}}
                        </td>
                    </tr>
                </ng-container>
            </tbody>
        </table>
    </div>
</ng-template>

<button class="btn btn-lg btn-outline-primary" (click)="openModalLg(jitaPrices)" style="float: right;">Show Jita
    Prices</button>