<h1>{{title}}</h1>
Some information first. <br>

<ul>
    <li>Ore data will be fetched every day at 01:30 UTC</li>
    <li>Transactions are fetched every hour</li>
    <li>Market data is fetched ever 4 hours</li>
</ul>
<div>Transfer the listed amount to <b>Chibi Finance Department</b>. You don't need to add any reason. Just be sure you transfer the money with the listed character. <br>
    You also can transfer the money for all you alts from one character. When using this method, make sure you type the <strong>correct character name</strong> in the <strong>Reason field</strong>.
    This method is <strong>case sensitive!</strong>
    
    <hr>
    
<br>
<br>
<app-response-viewer></app-response-viewer>