<button class="btn btn-lg btn-outline-primary btn-sm" (click)="getTransactionLog(transactionLog)"
    style="float: right;">Show
    transaction log</button>

<ng-template #transactionLog let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Transaction log</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        The <strong>Transaction log</strong> shows all your tax payment in chronological order.
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Transaction date</th>
                    <th scope="col">Amount</th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let log of transactions">
                    <tr>
                        <td>
                            {{ log.transactionDate | date: 'dd-MM-yyyy HH:mm' }}
                        </td>
                        <td>
                            {{ log.amount | number}} ISK
                        </td>
                    </tr>
                </ng-container>
            </tbody>
        </table>
    </div>
</ng-template>