<app-jita-price-view></app-jita-price-view>

<form>
    <div class="form-group form-inline">
        Character search: <input class="form-control ml-2" type="text" [(ngModel)]="searchString" name="searchString" />
    </div>
</form>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col" sortable="name" (sort)="onSort($event)">Name</th>
            <th scope="col" sortable="corpName" (sort)="onSort($event)">Corp</th>
            <th scope="col" sortable="debt" (sort)="onSort($event)">Debt</th>
        </tr>
    </thead>
    <tbody>
        <ng-container *ngFor="let character of characters">
            <tr *ngIf="character.debt != 0 && (searchString === undefined || searchString.length === 0 
            || character.name.toLowerCase().includes(searchString.toLowerCase())
            || character.corpName.toLowerCase().includes(searchString.toLowerCase()))" (click)="openModal(content)">
                <ng-template #content let-modal>
                    <div class="modal-header">
                        <h4 class="modal-title" id="modal-basic-title">Mined Ore</h4>
                        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">

                                <label for="minedOre">Total mined ore for <b>{{ character.name }}.</b></label><br>
                                <ul>
                                    <li>The <strong>Amount</strong> is the total amount of mined units</li>
                                    <li>The <strong>Delta</strong> displays the change to your mined amount from
                                        last time.<br></li>
                                </ul>

                                <app-mining-service [name]="character.name"></app-mining-service>
                                <app-transaction-log [character]="character"></app-transaction-log>
                                <table class="table table-striped">

                                    <thead>
                                        <tr>
                                            <th scope="col">Ore</th>
                                            <th scope="col">Amount</th>
                                            <th scope="col">Delta</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        <tr *ngFor="let ore of character.minedOre">
                                            <td>
                                                {{ ore.name }}
                                            </td>
                                            <td>
                                                {{ ore.totalAmount | number}}
                                            </td>
                                            <td>
                                                +{{ ore.delta | number}}
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </form>
                    </div>
                </ng-template>
                <td>
                    <ngb-highlight [result]="character.name" [term]="searchString"></ngb-highlight>
                </td>
                <td>
                    <ngb-highlight [result]="character.corpName" [term]="searchString"></ngb-highlight>
                </td>
                <td>
                    <ngb-highlight [result]="character.debt | number" [term]="searchString"></ngb-highlight> ISK
                </td>
            </tr>
        </ng-container>
    </tbody>
</table>
<span class="pull-right copyright">&copy; Built by Ign: <strong>kLey I</strong>. Find the repo here: <a
        href="https://github.com/seenkley/moon-goo-tax-backend">Github Link</a></span>