<ng-template #jitaPrices let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Jita Prices</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Price</th>
                    <th scope="col">Last Update</th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let ore of moonOre$ | async">
                    <tr>
                        <td>
                            {{ ore.id }}
                        </td>
                        <td>
                            {{ ore.name }}
                        </td>
                        <td>
                            {{ ore.price | number}} ISK
                        </td>
                        <td>
                            {{ ore.date }}
                        </td>
                    </tr>
                </ng-container>
            </tbody>
        </table>
    </div>
</ng-template>

<button class="btn btn-lg btn-outline-primary" (click)="openModalLg(jitaPrices)" style="float: right;">Show Jita
    Prices</button>
 <form>
    <div class="form-group form-inline">
        Character search: <input class="form-control ml-2" type="text" [(ngModel)]="searchString" name="searchString" />
    </div>
</form>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col" sortable="name" (sort)="onSort($event)">Name</th>
            <th scope="col" sortable="corpName" (sort)="onSort($event)">Corp</th>
            <th scope="col" sortable="debt" (sort)="onSort($event)">Debt</th>
        </tr>
    </thead>
    <tbody>
        <ng-container *ngFor="let character of characters">
            <tr   *ngIf="character.debt != 0 && (searchString === undefined || searchString.length === 0 
            || character.name.toLowerCase().includes(searchString.toLowerCase())
            || character.corpName.toLowerCase().includes(searchString.toLowerCase()))"
            (click)="openModal(content)">


                <ng-template #content let-modal>
                    <div class="modal-header">
                        <h4 class="modal-title" id="modal-basic-title">Mined Ore</h4>
                        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <label for="minedOre">Total mined ore for <b>{{ character.name }}</b></label>
                                <table class="table table-striped">

                                    <thead>
                                        <tr>
                                            <th scope="col">Ore</th>
                                            <th scope="col">Amount</th>
                                            <th scope="col">Delta</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        <tr *ngFor="let ore of character.minedOre">
                                            <td>
                                                {{ ore.name }}
                                            </td>
                                            <td>
                                                {{ ore.totalAmount | number}}
                                            </td>
                                            <td>
                                                +{{ ore.delta | number}}
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </form>
                    </div>
                </ng-template>

                <td>
                    <ngb-highlight [result]="character.name" [term]="searchString"></ngb-highlight>
                </td>
                <td>
                    <ngb-highlight [result]="character.corpName" [term]="searchString"></ngb-highlight>
                </td>
                <td>
                    <ngb-highlight [result]="character.debt | number" [term]="searchString"></ngb-highlight> ISK
                </td>
            </tr>
        </ng-container>
    </tbody>
</table>